<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
     <main>

          {{!--Formulario--}}
          <div class="container" >
          <div class="row">
            <div class="col-6 offset-3">
             <form>
                <input type="text"    class="form-control" placeholder="Nome do Produto">
                <input type="number"  class="form-control" placeholder="Valor do Produto">
                <input type="file"    class="form-control" >
                <input type="submit"  class="btn btn-primary" value="Cadastrar">
             </form>
          </div>
          </div>
       </div>
     </main>
</body>
</html>